body {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

h1 {
    display: flex;
    flex-direction: column;
    flex-basis: 2em;
    justify-content: center;
    align-content: center;
    font-size:2.5rem;
    font-weight:900;
    text-align: center;
    border-style: solid;
    border-width: 4px;
    border-color: #206557ff;
    background-color: #00ae8cff;
    color: #f4f4f4;
    border-radius: 10px;
}

.form_titles {
    display: flex;
    justify-content: center;
    align-content: center;
    font-family: inherit;
    font-weight: 900;
    font-size: 1.25em;
    margin-bottom: 0.5rem;
    color:#206557ff;
}

input {
    display: flex;
    flex-direction: column;
    margin: auto;
    flex-basis: 1.25em;
    margin-bottom: 1rem;
    width: 80%;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size:1.25rem;
    font-weight:900;
    opacity: 70%;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    border-color: #004234ff;
    background-color:#f4f4f4;
    color: #206557ff;
}

#submit_button {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family:inherit;
    font-weight: 900;
    font-size:100%;
    margin: auto;
    text-transform: none;
    border-style:solid;
    padding:0;
    background-color:#00ae8cff;
    border-color: #206557ff;
    border-width: 3px;
    color: #f4f4f4;
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
}

#submit_button:hover {
    background-color:#206557ff;
}

.container{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-content: center;
}

.do_list{
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-content:center;
    position:relative;
    margin-bottom:20rem;
}

li{
    font-size: 1.25rem;
    font-weight: 900;
    text-align:center;
    list-style:none; /* doesn't work with class */
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    border-style:solid;
    border-color:#206557ff;
    background-color:#00ae8cff;
    color: #f4f4f4;
    border-radius: 10px;
    width: 30rem;
    height: 3rem;
    position: relative;
    right: 16rem;
}



.button_set {
    max-width: 1200px;
    display:flex;
    flex-direction:row;
    justify-content: right;
    align-content: right;
    position:relative;
    left:39rem;
    bottom: 4.25rem;
    margin-top: 1rem;
}

.buttons {
    justify-content: center;
    align-items: center;
    font-family:inherit;
    font-weight: 900;
    font-size:100%;
    border-style:solid;
    border-width: 3px;
    background-color:#00ae8cff;
    border-color: #206557ff;
    color: #f4f4f4;
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
    margin-right: 1rem;
}

button:hover {
    background-color:#206557ff;
}

#submit_list {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    font-family:inherit;
    font-weight: 900;
    font-size:100%;
    margin: auto;
    margin-top:0.5rem;
    text-transform: none;
    border-style:solid;
    padding:0;
    background-color:#00ae8cff;
    border-color: #206557ff;
    border-width: 3px;
    color: #f4f4f4;
    width: 5rem;
    height: 3rem;
    border-radius: 10px;
}

#submit_list:hover {
    background-color:#206557ff;
}
